* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  body{
    direction: rtl;
    font-family: vazirmatn,sans-serif;
  }
  .title{
    display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
  }
  .line{
    width:35px;
    height: 2px;
    background-color:#066;
    margin:20px;
  }
  .maintitle{
    font-size: 20px;
    color:#066;
    font-weight: 600;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    margin-top:30px;
  }
  .line2{
    background-color:#066;
    width:130px;
    height: 2px;
  }
  #weight , #height{
    border:solid 2px #CDD6C7;
    border-radius: 30px;
    background-color: #fafafa;
    height:48px;
    width:210px;
    text-align: center;
  }
  img{
    width:110px;
    margin:10px 45px 0 0;
  }
  .height{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap:60px;
margin:16px 0 0 0;
  }
  .weight{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
    gap:60px; 
    margin:20px 0 0 0;
  }
  ::-webkit-input-placeholder{
    color:#d0d0d0;
    font-size:16px;
  }
  .radio{
margin-left:230px;
gap:100px;
margin-top: 20px;
  }
  .radio > div > input{
    margin:10px;
  }
  .radio > div{
    margin:10px;
  }
  input[type=radio]:checked + label{
    color:#066;
  }
  input[type=radio] + label{
    color:#d0d0d0;
  }
  button{
    width:230px;
    height:40px;
    border-radius: 30px;
    border:none;
    background-color: rgba(0, 102, 102, 0.625);
    color:white;
    font-size: 20px;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row-reverse;
    gap:10px;
  }
button:hover{
  background-color:rgba(0, 102, 102, 0.822);
}
.first{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin-top: 10%;
}
.second{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:50px;
  background-color:rgba(0, 102, 102, 0.822);
  width:370px;
  height:80px;
  border-radius: 70px;
}
#result{
  font-size: 20px;
  font-weight: 600;
  color:#d0d0d0;
}
#situation{
  font-size: 16px;
  margin-top: 5px;
  color:#d0d0d0;
}